@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background-dark1: #333333;
        --background-dark2: #252526;
        --background-dark3: #1E1E1E;
        --color-primary: #858585;
    }
}