@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  color: white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

select{
  background-color: #373737;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

select:hover{
  background-color: #3C3C3C;
}