[*.cs]

# CS8618: Un champ non-nullable doit contenir une valeur non-null lors de la fermeture du constructeur. Envisagez de déclarer le champ comme nullable.
dotnet_diagnostic.CS8618.severity = silent

# CS8601: Existence possible d'une assignation de référence null.
dotnet_diagnostic.CS8601.severity = silent

# CA1416: Valider la compatibilité de la plateforme
dotnet_diagnostic.CA1416.severity = silent
